# Dependency directories
node_modules/

# Environment variables
.env
.env.test
.env.local

# Testing coverage reports 
coverage/

# Build directories 
dist/
build/

# Operating System files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/